/* #root {
  margin: 0;

  text-align: center;
} */

:root {
  --dark-magenta: #990099;
  --forest-green: #009900;
}

body {
  margin: 0;
  /* display: flex; */
}
.App {
  text-align: center;
}

.nav {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 1;
  justify-content: space-between;
  margin-right: 50px;
  background-color: aqua;
}

.nav__item {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 4rem;
}

.nav__item__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  margin: 1rem;
}

.nav__item__link--active {
  color: var(--dark-magenta);
  text-shadow: 1px 2px 2px var(--dark-magenta);
}

.nav__item__link--active:hover {
  box-shadow: 5px 5px 5px var(--forest-green);
  border: 1px solid black;
  padding: 2px;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
}

.logo {
  line-height: 0.5;
  display: block;
  float: left;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.misdemeanours-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.misdemeanour-filter {
  padding: 20px;
  background-color: #009900;
  margin-top: 10px;
}

.misdemeanours-table {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.table-heading {
  padding: 5px 20px;
}

.table {
  table-layout: auto;
  width: 100%;
}

.table-data {
  padding: 5px 20px;
  width: 130px;
  /* word-wrap: break-word; */
}

.table__data--details {
  font-size: 0.82rem;
  color: crimson;
}

.confession-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
  width: 60%;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-magenta);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  opacity: 0.4;
}
